<ul class='nav'>
    <li class='navitem'><a href="/">Home</a></li>
    <li class='navitem'><a href="/planner/{{id}}">Add a trip</a></li>
    <li class='navitem'><a href="/trips/{{id}}/past">Previous trips</a></li>
    <li class='navitem'><a href="/trips/{{id}}/future">Future trips</a></li>
    <li class='navitem'><a href="/newPackingList/{{id}}">Create a packing list</a></li>
  </ul>