<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="main.css">
  <title>My pack planner</title>
</head>

<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/planner">Add a trip</a></li>
    <li><a href="/trips/past">Previous trips</a></li>
    <li><a href="/trips/future">Future trips</a></li>
  </ul>
  <p>
    lkjhjlk
  </p>
  {{{body}}}
</body>

</html>