.jumbotron {
  background-image: url('images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto Mono', monospace;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(66, 80, 14);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.navitem {
  float: left;
}

.navitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navitem a:hover {
  background-color: rgb(40, 58, 6);
}


.button {
  font-size: 22.5px;
  padding: 10px;
  background-color:rgba(255,255,255,0.2); 
  border: 2px solid rgba(69, 159, 233, 0.5);
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 10%;
  margin-top: 10px;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.button:hover {
  background:rgba(69, 159, 233, 0.5);
  border: 2px solid rgba(20, 86, 139, 0.5);

}

form{
  text-align: right;
  margin-right: 40%;
}

.input {
  font-size: 15px;
  background: rgba(0, 0, 0, 0);
  color: grey;
  border: none;
  margin: 10px auto 10px auto;
  padding: 5px;
  width: 260px;
  font-family: 'Roboto Mono', monospace;
}

select {
  font-size: 15px;
  background-color:rgba(0, 0, 0, 0);
  width: 270px;
  color: grey;
  margin: 10px auto 10px auto;
  font-family: 'Roboto Mono', monospace;
}

.packing_list {
  color: rgba(255, 255, 255, 0.712);
  padding: 6px;
  background-color: rgba(31, 29, 29, 0.5);
  box-shadow: 0 0 5px 5px rgba(31, 29, 29, 0.5);
}

.packing_list a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.712);
}

.packing_list a:hover{
  color: rgba(51, 53, 167, 0.973);
  cursor: pointer;
}