<h1>Trip to {{destination}}, {{trip_date}}</h1>

<div>
  {{#each activity_list}}
  <h3>{{this}}</h3>
  {{/each}}
  {{#each gear_list}}
  <ul>
    <li class='pack'>{{this}}</li>
  </ul>
  {{/each}}
</div>