{{#if id}}
<button>plan a new trip</button>
{{else}}
<a class="button" href="#firstTrip">Plan your first trip</a>
{{/if}}
<div id="firstTrip" class="overlay">
  <div class="popup">
    <h2>My pack</h2>
    <a class="close" href="#">&times;</a>
    <div>
      <form action='/planner' method='post'>
        <div>
          <label for="destination">
            Destination
            <input type="text" name="destination" id="">
          </label>
        </div>
        <div>
          <label for="activity">
            Activity
            <input type="text" name="activity" id="">
          </label>
        </div>
        <div>
          <label for="psrtySize">
            Party size
            <input type="text" name="partySize" id="">
          </label>
        </div>
        <div>
          <label for="date">
            Date
            <input type="text" name="date" id="">
          </label>
        </div>
        <div>
          <button class="button">Start Quiz</button>
        </div>
      </form>
    </div>
  </div>
</div>