{{>nav}}
<div>
  <h2>My pack</h2>

    <form action='/planner/{{id}}' method='post'autocomplete="off">
      <div>
        <label>
          Destination :
          <input class="input" type="text" name="destination" placeholder="Where are you going?">
        </label>
      </div>
      <div>
        <label>
          Party size :
          <input class="input" type="number" name="party_size" placeholder="How many people are coming?">
        </label>
      </div>
      <div>
        <label>
          Date :
          <input class="input" type="date" name="trip_date" placeholder="When will you go?">
        </label>
      </div>
      <div>
          <label>
            Activity :
            <select name="activity_id">
              <option value=0>Select activity</option>
              {{#each activities}}
              <option value="{{activity_id}}">{{activity_name}}</option>
              {{/each}}
            </select>
          </label>
      </div>
      <div>
        <button class="button">Create</button>
      </div>
    </form>

</div>