{{>nav}}
<div id="newTrip">
  <h2>My pack</h2>
  <div>
    <form action='/planner' method='post'autocomplete="off">
      <div>
        <label for="destination">
          Destination :
          <input class="input" type="text" name="destination" placeholder="Where are you going?">
        </label>
      </div>
      <div>
        <label for="partySize">
          Party size :
          <input class="input" type="text" name="party_size" placeholder="How many people are coming?">
        </label>
      </div>
      <div>
        <label for="date">
          Date :
          <input class="input" type="text" name="trip_date" placeholder="When will you go?">
        </label>
      </div>
      <div>
          <label for="activity_id">
            Activity :
            <select name="activity_id">
              <option value=0>Select activity</option>
              {{#each activities}}
              <option value="{{activity_id}}">{{activity_name}}</option>
              {{/each}}
            </select>
          </label>
      </div>
      <div>
        <button class="button">Create</button>
      </div>
    </form>
  </div>
</div>