<div id="newTrip">
  <h2>My pack</h2>
  <div>
    <form action='/planner' method='post'>
      <div>
        <label for="destination">
          Destination :
          <input class="input" type="text" name="destination">
        </label>
      </div>
      <div>
        <div id = "dropdown">
          <label for="activity">
            Activity :
            <select name="activity">
              <option value=0>Select activity</option>
              {{#each this}}
              <option value="{{title}}">{{title}}</option>
              {{/each}}
            </select>
          </label>
        </div>
      </div>
      <div>
        <label for="partySize">
          Party size :
          <input class="input" type="text" name="partySize">
        </label>
      </div>
      <div>
        <label for="date">
          Date :
          <input class="input" type="text" name="date">
        </label>
      </div>
      <div>
        <button class="button">Create</button>
      </div>
    </form>
  </div>
</div>