{{>nav}}
<div>
  {{#if trips}}
  <h2>Your upcoming trips</h2>
  {{else}}
  <h2>Your past trips</h2>
  {{/if}}
  <ul id = "tripsList">
    {{#each trips}}
      <li><a href ='/trips/future/{{trip_id}}'>{{destination}}</a></li>
    {{/each}}
  </ul>
</div>